<head>
    <script src="~/scripts/AddPart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/styles/AddPart.css">
</head>
<body>
    <div class="row justify-content-center">
        <h1>Create new car part</h1>
    </div>
    <div class="row margin-bottom">
        <table class="container">
            <thead>
                <tr>
                    <th><h1>Name</h1></th>
                    <th><h1>Price</h1></th>
                    <th><h1>Details</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input id="name"></td>
                    <td><input id="price"></td>
                    <td><input id="details"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center">
        <div class="col-3">
            <button class="btn btn-danger" onclick="createCarPart()">Sumbit</button>
        </div>
    </div>
</body>