
@model List<CarCRUD.Models.CarPart>
<html>
<head>
    <title>table</title>
    <script src="~/scripts/Index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/styles/Index.css">
</head>
<body class="background">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row navbar">
                    <div class="col-2">
                        <button class="btn bg-transparent">
                            Home
                        </button>
                    </div>
                    <div class="col-2">
                        <button class="btn bg-transparent">
                            ayy
                        </button>
                    </div>
                    <div class="col-2">
                        <button class="btn bg-transparent">
                            oii
                        </button>
                    </div>
                </div>
                <div class="row tableRow">
                    <div class="col-1">
                        <span> ID </span>
                    </div>
                    <div class="col-6">
                        <span> Name </span>
                    </div>
                    <div class="col-2">
                        <span> Price </span>
                    </div>
                    <div class="col-2">
                        <span> Actions </span>
                    </div>

                </div>
                @{
                    foreach (var carPart in Model)
                    {
                        <div class="row tableRow">
                            <div class="col-1">
                                <span>@carPart.Id</span>
                            </div>
                            <div class="col-6">
                                <span>@carPart.Name</span>
                            </div>
                            <div class="col-2">
                                <span>@carPart.Price</span>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary">Edit</button>
                                <button type="button" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    }

                }


            </div>
</body>
</html>
