.base-container {
    margin-top: 3rem;
}

.table table-dark {
    border-radius: 5px;
    width: 50%;
    margin: 10px auto;
    float: none;
}

input[type="text"] {
    background-color: palegoldenrod;
}

body {
    background-color: #2D142C;
    color: #fff;
}

.margin-bottom {
    margin-bottom: 3em;
}

.main-table {
    border: 2px solid black;
    margin-left: 2px;
    margin-top: 2px;
}

.link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    color: #fff;
}

.table-container {
    justify-content: center;
    margin-top: 5em;
    width: 100%;
}

.table-row-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableRow {
    border-bottom: 1px white solid;
    padding-top: 3px;
    padding-bottom: 6px;
    border: 1px solid #C72C41;
    background-color: #510A32;
    justify-content: center;
    width: 90%;
    border-radius: 10px 10px 0 0;
}

.navigation-bar {
    width: 100%;
    background-color: #C72C41;
    overflow: auto;
}

.navigation-bar a {
    float: left;
    text-align: center;
    width: 50%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.navigation-bar a:hover {
    background-color: #510A32;
}

.active {
    background-color: #EE4540;
}

.btn-color {
    color: #fff;
    justify-content: center;
    align-content: center;
}
.container-fluid {
    font-size: 15px;
}